autoTrader/bin/
autoTrader/obj/

*.user
*.suo
*.cache
*.vspscc
*.vssscc
*.dll.config
*.config

[Tt]humbs.db
*.log
*.vspx
*.userprefs
*.psess
*.vsp

*.pidb
*.ipch
*.ncb
*.sdf
*.opensdf
*.sln.docstates
*.VC.db
*.VC.VC.opendb

autoTraderLog.dat
*.secrett
autoTrader/.vs/autoTrader/DesignTimeBuild/
autoTrader/.vs/autoTrader/FileContentIndex/
autoTrader/.vs/ProjectEvaluation/
autoTrader/.vs/autoTrader/v17/
autoTrader/DB.db